<p id="notice"><%= notice %></p>

<p>
  <strong>Credential:</strong>
  <%= @app_credential.credential_id %>
</p>

<p>
  <strong>App:</strong>
  <%= @app_credential.app_id %>
</p>

<p>
  <strong>Encrypted value:</strong>
  <%= @app_credential.encrypted_value %>
</p>

<p>
  <strong>Text value:</strong>
  <%= @app_credential.text_value %>
</p>

<%= link_to 'Edit', edit_app_credential_path(@app_credential) %> |
<%= link_to 'Back', app_credentials_path %>
