<%= form_for(@app_environment_credential) do |f| %>
  <% if @app_environment_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_environment_credential.errors.count, "error") %> prohibited this app_environment_credential from being saved:</h2>

      <ul>
      <% @app_environment_credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :credential_id %>: <%= @app_environment_credential.app_credential.key %>
  </div>
  <!--<div class="field">
    <%= f.label :encrypted_value %><br>
    <%= f.text_field :encrypted_value %>
  </div>-->
  <div class="field">
    <%= f.label :text_value %><br>
    <%= f.text_field :text_value %>
  </div>
  <div class="actions">
    <%= f.submit submit_button_message(@app_environment_credential) %>
  </div>
<% end %>
