<p id="notice"><%= notice %></p>

<h1><%= link_to @app.name, app_path(@app) %> Resources</h1>

<table>
  <thead>
    <tr>
      <th>App</th>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app.app_resources.each do |app_resource| %>
      <tr>
        <td><%= app_resource.app.name %></td>
        <td><%= app_resource.resource.name %></td>
        <td><%= link_to 'Show', app_resource %></td>
        <td><%= link_to 'Edit', edit_app_resource_path(app_resource) %></td>
        <td><%= link_to 'Remove', app_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App resource', new_app_resource_path(app_id: @app.id) %>
