<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Cookbook url:</strong>
  <%= @resource.cookbook_url %>
</p>

<p>
  <strong>Language:</strong>
  <%= @resource.language.try(:name) %>
</p>

<p>
  <strong>Ami:</strong>
  <%= @resource.ami_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
