<%= form_for(@app_environment) do |f| %>
  <% if @app_environment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_environment.errors.count, "error") %> prohibited this app_environment from being saved:</h2>

      <ul>
      <% @app_environment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :app_id %>
  <div class="field">
    <%= f.label :environment_id %>:
    <%= select_or_label(
      @app_environment.environment_id,
      f.select(:environment_id, Environment.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }),
      f.hidden_field(:environment_id),
      @app_environment.environment.try(:name)
    ).html_safe %>
  </div>
  <div class="field">
    <%= f.label :domain %>:<br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :git_tag %>:<br>
    <%= f.text_field :git_tag %>
  </div>
  <div class="actions">
    <%= f.submit submit_button_message(@app_environment) %>
  </div>
<% end %>
