<p id="notice"><%= notice %></p>

<h1><%= link_to @app.name, app_path(@app) %> Environments</h1>

<table>
  <thead>
    <tr>
      <th>Environment</th>
      <th>Domain</th>
      <th>Git Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app.app_environments.each do |app_environment| %>
      <tr>
        <td><%= app_environment.environment.try(:name) %></td>
        <td><%= app_environment.domain %></td>
        <td><%= app_environment.git_tag %></td>
        <td><%= link_to 'Show', app_environment %></td>
        <td><%= link_to 'Edit', edit_app_environment_path(app_environment) %></td>
        <td><%= link_to 'Remove', app_environment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App environment', new_app_environment_path(app_id: @app.id) %>
