<!DOCTYPE html>
<html>
<head>
  <title>UtilityCop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="float:left;width:200px">
  <strong>Applications</strong>:<br />
  <% App.all.each do |app| %>
    &nbsp;&nbsp;<%= link_to(app.name, app) %><br />
  <% end %>
  <p><%= link_to 'AMI Builder', new_ami_builder_path %>
  <p><%= link_to 'Monitoring', sidekiq_web_path %></p>
</div>
<div style="float:left">
<%= yield %>
</div>

</body>
</html>
