<!DOCTYPE html>
<html>
<head>
  <title>UtilityCop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="float:left;width:200px">
  <% App.all.each do |app| %>
    <p><%= link_to(app.name, app) %></p>
  <% end %>
</div>
<div style="float:left">
<%= yield %>
</div>

</body>
</html>
